body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: url('../img/background.svg') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
    user-select: none;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background-color: #151720;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

header img {
    width: 30px;
    height: 30px;
}

.icon-container {
    display: flex;
    align-items: center;
    position: absolute;
    right: 60px;
    top: 55%;
    transform: translateY(-50%);
}

.susano-link {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    cursor: pointer;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 60px;
}

#converter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

textarea {
    width: 500px; 
    height: 600px;
    padding: 20px; 
    border: 2px solid #2e2c55;
    border-radius: 10px;
    background-color: rgba(46, 44, 85, 0.8);
    color: white;
    resize: none;
}

#convert-button {
    background: #2e2c55;
    border: none;
    border-radius: 10px;
    padding: 20px 40px;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.1s ease;
}

#convert-button:hover {
    background: #191836;
}

#convert-button:active {
    transform: scale(0.95);
}